<!DOCTYPE html>
<html>
<head>
    <title>佳丽摄影</title>
    <meta name="keywords" content="佳丽,摄影,双旦,狂欢,年终,盛典,佳丽,摄影,"/>
    <meta name="description" content="佳丽摄影双旦狂欢年终盛典，定5000享10000"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=480"/>
    <link rel="stylesheet" href="templets/m2013/css/reset.css"/>
    <link rel="stylesheet" href="templets/m2013/css/mainCssRed.css"/>
    <script type="text/javascript" src="templets/m2013/js/klass.min.js"></script>
    <script type="text/javascript" src="templets/m2013/js/jquery.min.js"></script>
    <script type="text/javascript" src="templets/m2013/js/flexslider.js"></script>
    <script type="text/javascript" src="templets/m2013/js/MainJS.js"></script>
    <!--        Hides URL bar on iPhone-->
    <script type="application/x-javascript">
        if (navigator.userAgent.indexOf('iPhone') != -1) {
            addEventListener("load", function () {
                setTimeout(hideURLbar, 0);
            }, false);
        }

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>

</head>
<body>
<!--            headlineSection-->
<div id="Headline">
    <h1><img src="templets/m2013/img/logo2.png"></h1>
</div>
<!--            Main Nav Section-->
<div id="MainNav">
    <div class="flexslider-nav">
        <ul class="slides">
            <li>
                <a href="zuopin.html">
                    <p>作品</p>
                    <p class="NavItemInfo">PHOTOS</p>
                </a>
                <a href="changjing.html">
                    <p>场景</p>
                    <p class="NavItemInfo">SCENSE</p>
                </a>
                <a href="huodong.html">
                    <p>活动</p>
                    <p class="NavItemInfo">EVENTS</p>
                </a>
                <a href="yuyue.html">
                    <p>预约</p>
                    <p class="NavItemInfo">SERVICE</p>
                </a>
                <a href="pinpai.html">
                    <p>品牌</p>
                    <p class="NavItemInfo">BRAND</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<ul id="ShowingRibbons">
    <li id="RBNShowMenu"><img src="templets/m2013/img/RED/dropdown_show.png" alt="Show Menu"/></li>
    <li><a href="../index.html"><img src="templets/m2013/img/RED/dropdown_index.png" alt="Back to homepage"/></a></li>
</ul>
<!--        main Content-->
<div class="ContentWrapper" id="BlogSContentWrapper">
    <!--            Blog Content-->
    <div id="BlogPost">
        <span class="BigComments"></span>
        <h2>佳丽摄影双旦狂欢年终盛典</h2>
        <p class="BlogInfo">时效:2013-11-25 范围：各门店通用</p>
        <img src="uploads/allimg/131203/1-1312031441260-L.jpg" alt="[field:title/]" title="[field:title/]" border="0"/>
        <span class="BigComments"></span>
        <h2>活动说明</h2>
        <p class="BlogInfo">EVENT INFORMATION</p>
        <p>
            佳丽摄影双旦狂欢年终盛典，定5000享10000<br/>
            <img alt="" src="uploads/allimg/131203/1-131203144201D4.jpg"/><br/>

        </p>
    </div>
    <!--            Quote-->
    <div class="TwoTapes">
        <img class="leftTape" src="templets/m2013/img/tapeLeft.png" alt="Left tape"/>
        <img class="rightTape" src="templets/m2013/img/tapeRight.png" alt="Right tape"/>
    </div>
    <p class="quote">
        <a href="../../chat.looyu.com/chat/chat/p.do@c=49420&f=106259&g=66029"
           target="_blank">有问题么？请点这里<br>联系客服咨询报名！</a>
    </p>
    <!--            Comments-->
    <span class="BigComments"></span>
    <h2>大家关注的问题</h2>
    <p class="BlogInfo">MORE COMMENTS</p>
    <ul class="CommentsList">
        <li>
            <div class="CommentContent">
                <img class="UserIcon" src="templets/m2013/img/jackBlackUser.jpg" alt="User icon"/>
                <span>[提问]</span> <h5>如何领取大红包呢？</h5>

                <p>
                    这个问题比较困难结婚的时候首选就是佳丽，因为看过同事拍的，觉得唯美的风格很喜欢，所以佳丽是第一选择。
                    佳丽的服务可以用专业来形容， 每一个步骤都比较到位，因为已经形成流程了，也没有特别推销，照片拍的也不错，婚纱照一般都比本人要美。
                </p>
            </div>
        </li>
        <li>
            <div class="CommentContent">
                <img class="UserIcon" src="templets/m2013/img/commentdefaultIcon.jpg" alt="User icon"/>
                <span>[提问]</span> <h5>外地客人可以享受优惠么</h5>
                <p>
                    算是杭州人气最旺的婚纱影楼了，分布的门店也很广，当然，还是喜欢在总店逛逛，这里的营业员和摄影师都是最资深的，审美观相当好，从专业角度来说，就是一眼就能为你挑选出最理想最贴身的礼服，甚至超出你的各种对礼服的想象！.
                </p>
            </div>
        </li>
    </ul>

</div>
<!--footer section-->
<div id="footer">
    <span>
        <a href="#" target="_blank"><img src="templets/m2013/img/socialIcons/zixun.png" alt="咨询"/></a>
        <a href="#"><img src="templets/m2013/img/socialIcons/tel.png" alt="拨打电话"/></a>
        <a href="#"><img src="templets/m2013/img/socialIcons/down.png" alt="咨询"/></a>
    </span>
</div>
</body>
</html>
